<style>
    #admin ul li span.glyphicon { display: none; }
    #admin ul li:hover span.glyphicon { display: inline; }
</style>

<div id="admin" class="row">
    <ul class="col-md-6">
        <h3>List of Books</h3>
        <li ng-repeat="book in books" />
            {{book.title}} by {{book.author}}
            <span ng-click="deleteBook(book)" class="glyphicon glyphicon-remove"></span>
        </li>
    </ul>

    <div class="col-md-6">
        <h3>Add Book</h3>
        <form role="form" novalidate>
            <div class="form-group">
                <label>
                    Author <input class="form-control" type="text" ng-model="book.author" />
                </label>
            </div>
            <div class="form-group">
                <label>
                    Title <input class="form-control" type="text" ng-model="book.title" />
                </label>
            </div>
            <div class="form-group">
                <label>
                    Cover Image URL<input class="form-control" type="url" ng-model="book.image" />
                </label>
            </div>

            <button class="btn btn-default" ng-click="addBook(book)">Add Book</button>
        </form>
    </div>
</div>
